@charset "UTF-8";
.v-btn {
  &.bg-primary {
    color: #fff !important;
    background-color: #356cff !important;
    &.v-btn--disabled {
      color: #98a2bc !important;
      background-color: #dee6f1 !important;
    }
  }
  &.bg-secondary {
    color: #494f60 !important;
    background-color: #e9edfb !important;
  }
  &.bg-Tertiary {
    color: #fff !important;
    background-color: #011b6a !important;
  }
  &.text-tertiary {
    color: #011b6a !important;
    border: .1rem solid #011b6a;
  }
  &.text-info {
    background-color: #011b6a !important;
  }
  &.text-outlinded {
    background-color: #fff;
    border: .1rem solid #ddd;
  }
}

/*  Size */
.v-btn--size-x-large {
  --v-btn-size: 1.8rem;
  --v-btn-height: 5.6rem;
  font-size: var(--v-btn-size);
  padding: 0 1.6rem;
  font-weight: 700;
}
.v-btn--size-large {
  --v-btn-size: 1.6rem;
  --v-btn-height: 4.8rem;
  font-size: var(--v-btn-size);
  padding: 0 1.6rem;
  font-weight: 500;
}
.v-btn--size-small {
  --v-btn-size: 1.4rem;
  --v-btn-height: 4rem;
  font-size: var(--v-btn-size);
  padding: 0 1.6rem;
  font-weight: 500;
}
.v-btn--size-x-small {
  --v-btn-size: 1.3rem;
  --v-btn-height: 3.2rem;
  font-size: var(--v-btn-size);
  padding: 0 1.6rem;
  font-weight: 500;
}

/*  Disabled */
.text-primary.v-btn--variant-outlined.v-btn--disabled,
.text-Outlinded.v-btn--variant-outlined.v-btn--disabled {
  pointer-events: none;
  color: #ccc !important;
  background-color: #fff;
  border: .1rem solid #eaeaea;
  opacity: 1;
}
.bg-tertiary.v-btn--disabled {
  background-color: #969db1 !important;
}
.v-btn__overlay {
  background-color: transparent;
}
.v-btn.btn-search {
  all: unset;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 50%;
  right: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url('../images/icon/icon_search_blue.png');
  background-size: 3.2rem;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  cursor: pointer;
}

@media only screen and (max-width: 960px) {
  .v-btn--size-x-large {
    --v-btn-size: 1.6rem;
    --v-btn-height: 5rem;
    font-size: var(--v-btn-size);
  }
  .v-btn--size-large {
    --v-btn-size: 1.4rem;
    --v-btn-height: 4rem;
    font-size: var(--v-btn-size);
  }
  .v-btn--size-small {
    padding: 0 .8rem;
  }
  .v-btn.btn-search {
    width: 2.4rem;
    height: 2.4rem;
    background-size: 2.4rem;
  }
}