@charset "UTF-8";

/* Font-face */
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: local('Spoqa Han Sans Neo Medium'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: local('Spoqa Han Sans Neo Light'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src: local('Spoqa Han Sans Neo Thin'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}
@font-face{
	font-family: 'OneShinhan';
	src: local('OneShinhan'),
        url('../fonts/shcard/OneShinhanLight.woff2') format('woff2'),
	    url('../fonts/shcard/OneShinhanLight.woff') format('woff'),
	    url('../fonts/shcard/OneShinhanLight.woff') format('truetype'),
        url('../fonts/shcard/OneShinhanLight.eot') format('embeded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display:swap;
}
@font-face{
	font-family: 'OneShinhan';
	src: local('OneShinhan'),
        url('../fonts/shcard/OneShinhanMedium.woff2') format('woff2'),
	    url('../fonts/shcard/OneShinhanMedium.woff') format('woff'),
	    url('../fonts/shcard/OneShinhanMedium.woff') format('truetype'),
        url('../fonts/shcard/OneShinhanMedium.eot') format('embeded-opentype');
	font-weight: 500;
	font-style: normal;
	font-display:swap;
}
@font-face{
	font-family: 'OneShinhan';
	src: local('OneShinhan'),
        url('../fonts/shcard/OneShinhanBold.woff2') format('woff2'),
	    url('../fonts/shcard/OneShinhanBold.woff') format('woff'),
	    url('../fonts/shcard/OneShinhanBold.woff') format('truetype'),
        url('../fonts/shcard/OneShinhanBold.eot') format('embeded-opentype');
	font-weight: 700;
	font-style: normal;
	font-display:swap;
}

/*  Reset  */
html {font-size: 62.5%;}
body {-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; -webkit-font-smoothing: antialiased;}
body, div, p, span, h1, h2, h3, h4, h5, h6, a, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, label, header, footer, main, article, aside, section, address {margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box;}
body, input, textarea, select, button, table {font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', '돋움', 'dotum', 'Apple SD Gothic Neo', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif; font-weight: 400; color: #111518; line-height: 1.5; letter-spacing: normal;}
input, textarea, select, button, table {font-size: 1.6rem; border: 0 none; background-color: transparent;}
table {table-layout: fixed; width: 100%; border-collapse: collapse; border-spacing: 0; word-break: normal;}
img, fieldset {border: 0;}
address {font-style: normal;}
em {font-style: normal;}
/* 링크 시 파랑배경 덥는 것 안보이게 */
a, button {-webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; text-decoration-line: none !important;}
/* a 버튼 정의 */
a {display: block; color: #111518; text-decoration: none;}
button {border: 0; border-radius: 0; background-color: transparent; cursor: pointer;}
input, textarea, div[contenteditable="true"], code {-webkit-text-size-adjust: text; -ms-user-select: text; -moz-user-select: -moz-text; -webkit-user-select: text; user-select: text;}
ul, ol {list-style: none;}
table {border-collapse: collapse;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
b, strong {font-weight: 500;}
hr {margin: 0;}
/* IR block formating context */
.sr-only {overflow: hidden; position: absolute; top: auto; left: auto; width: .1rem; height: .1rem; margin: 0; padding: 0; color: transparent; background: transparent; border: 0 none; clip: rect(.1rem, .1rem, .1rem, .1rem);}
caption, legend {overflow: hidden; width: .1rem; height: .1rem; margin: 0; padding: 0; font-size: 0; color: transparent; line-height: 0; border: 0;}
input.v-field__input {background-color: transparent !important;}
.v-field__input {padding-left: 1.6rem; padding-right: 1.6rem; opacity: 1;}
.v-ripple__container {opacity: 0 !important;}
.v-btn--variant-text .v-btn__overlay {background-color: transparent;}
.spacing {letter-spacing: -.01rem;}

/* Icon background image: */
.util-wrap{
    .ico {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 3.2rem; 
        height: 3.2rem; 
        background-size: 100%;
    }
    .ico-community {
        background-image: url('../images/icon/icon_32_community.png');
    }
    .ico-search {
        background-image: url('../images/icon/icon_32_search.png');
    }
    .ico-allmenu {
        background-image: url('../images/icon/icon_32_sitemap.png');
    }
    .btn-community {
        display: flex; 
        font-size: 1.4rem; 
        align-items: center;
        .ico-community{
            margin-right: .8rem;
        }
    }
}

/* Align */
.v-application.wrap .head-inner,
.v-footer.footer .foot-inner,
.v-main.container .ly-inner {
    max-width: 120rem; 
    margin: 0 auto;
}

/* Hearder */
.header{ 
    position: sticky; 
    width: 100%; 
    top:0; 
    left: 0; 
    z-index: 99; 
    background-color: #fff;

    .gnb-wrap {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        margin-top: .4rem; 
        padding: 0;
    }
    .out-login-wrap {
        display: flex; 
        justify-content: flex-end; 
        align-items: center; 
        margin-top: 1.6rem; 
        padding: .4rem 0;
        > ul {
            display: flex; 
            margin-left: 2.4rem;
            li:not(:first-child) {
                margin-left: 2.4rem;
            }
            li{
                a {
                    display: flex; font-size: 1.4rem; color: #111518;
                &.name{color: #356CFF;}
                }
            }
        }
    } 
}
.btn-daram {
    display: flex; 
    padding: .5rem 1.2rem; 
    font-weight: 500; 
    font-size: 1.4rem; 
    color: #fff; 
    line-height: 150%; 
    border-radius: 9.9rem; 
    background-color: #356cff;
}

.gnb-wrap .logo,
.allmenu .logo {
    height: 3.6rem;
}
.gnb-wrap .menu-list,
.gnb-wrap .util-list {
    display: flex;
    li + li {
        margin-left: 3.2rem;
    }
}
.gnb-wrap .menu-list {
    li + li {
        margin-left: 5.6rem;
    }
    li a {
        display: flex; 
        align-items: center; 
        height: 8rem; 
        font-size: 2rem; 
        font-weight: 500;
    }
}

.header > .head-inner,
.footer > .foot-inner,
.v-main > .contents-box {
    max-width: 192rem; 
    width: 100%; 
    margin: 0 auto;
}
.v-main{
    &.main{
        flex: unset; 
        margin: 0; 
        padding: 3.2rem 0 16rem;
    }
    &.container {
        flex: unset;
        margin: 0;
        padding:6.4rem 0 16rem;
    }
}

/* Footer */
.v-footer.footer {
    flex: unset; 
    height: auto; 
    margin: 0; 
    padding: 4rem 0; 
    border-top: .1rem solid #e0e0e0;
    .foot-inner {
        position: relative; 
        display: flex; 
        width: 100%; 
        margin: 0 auto;
        .bottom-logo {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            width: 16rem; 
            height: 3.2rem; 
            padding: 0; 
            background-image: url('../images/common/bottom_logo.png'); 
            background-repeat: no-repeat; 
            background-position: center; 
            background-size: 100%;
        }
        .addr-wrap {
            display: flex; 
            flex-direction: column; 
            margin-left: 12rem; 
            font-size: 1.4rem;
            > ul {
                display: flex; 
                font-family: 'OneShinhan', sans-serif;
                > li:not(:first-child) {
                    margin-left: 2.4rem;
                }
                > li {
                    position: relative;             
                    > a{
                        padding: 4px 0px;
                        font-size: 1.4rem; 
                        font-family: 'OneShinhan', sans-serif; 
                        font-weight: 700;
                    }
                }
                > li:first-child a{
                    font-weight: 500;
                }
                > li:not(:first-child):before {
                    content: ''; 
                    position: absolute; 
                    top: 50%; 
                    left: -1.2rem; 
                    width: .1rem; 
                    height: 1.6rem; 
                    background-color: #e5e5e5; 
                    transform: translateY(-50%);
                }
            }
            address {
                margin-top: 2rem; 
                color: #111518; line-height: 1.5;
                span {
                    display: inline-block; 
                    margin-right: 1.6rem;
                }
            }
            .copyright {
                margin-top: 1.6rem; 
                color: #666; 
                line-height: 1.5;
            }
        }
    }
}

/* Input */
.v-field {padding: 0;}
.v-messages__message {line-height: 150%;}

/* Select Option */
.v-overlay-container .v-menu > .v-overlay__content {background-color: transparent; border: none; border-radius: .8rem; box-shadow: none;}
.v-overlay-container .v-menu > .v-overlay__content > .v-list {margin-top: .4rem; margin-bottom: .4rem; padding-top: .6rem; padding-bottom: .6rem; background-color: #fff; border: .1rem solid #356cff; border-radius: .8rem; box-shadow: none;}
.v-overlay-container .v-list-item-title {font-size: 1.6rem; color: #111518;}
.v-overlay-container .v-list-item--density-default.v-list-item--one-line {min-height: 4rem; padding: 0 1.6rem; color: #111518;}
.v-overlay-container .v-list-item--variant-text .v-list-item__overlay {background-color: #f1f4fb;}
.v-overlay-container .v-list-item--active > .v-list-item__overlay {opacity: 1;}
.v-overlay-container .v-list-item__content {z-index: 1;}

/* Delete */
.mdi-close-circle::before {color: #949494;}

/* Bottom */
.btn-wrap {display: flex; justify-content: center; align-items: center; margin-top: 6.4rem;}
.btn-wrap .default {width: 22.4rem;}
.btn-wrap .default + .default {margin-left: 1.6rem;}

/* Margin */
.mgt0 {
    margin-top: 0 !important;
}
.mgb12 {
    margin-bottom: 1.2rem !important;
}
.mgb40 {
    margin-bottom: 4rem !important;
}
.mgb48 {
    margin-bottom: 4.8rem !important;
}
.mgb64 {
    margin-bottom: 6.4rem !important;
}

/* 360 미만일때 일괄적으로 축소*/
@media only screen and (max-width: 360px) {
    html {
        font-size: 2.7778vw !important;
    }
}

/* 960 이상일때 일괄적으로 축소*/
@media (min-width: 960px) and (max-width: 1279px) {
    html{
        font-size: 0.7813vw !important;
    }
}

@media only screen and (max-width: 960px) {
    .v-field__input {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .v-select__selection {
        padding-left: .4rem;
    }
    .v-select .v-field .v-field__input > input {
        height: 100%;
        padding-left: .4rem;
        padding-bottom: 0.125rem;
        font-size: 1.4rem;
    }
    .header {
        padding: 1.4rem 2.4rem;
        .gnb-wrap .menu-list,
        .out-login-wrap {
            display: none;
        }
    }
    .gnb-wrap .util-list li + li {
        margin-left: .8rem;
    }
    .util-wrap .ico {
        width: 2.8rem; 
        height: 2.8rem;
        .btn-community {
            font-size: 1.3rem;
            .ico-community{
                margin-right: .4rem;
            }
        }
    } 
    .gnb-wrap h1 .logo {
        height: 2.2rem;
    }
    .v-main.main {
        padding: 2.4rem 0 8rem;
    }
    .v-main.container {
        padding: 3.2rem 0 8rem;
    }
    .v-footer.footer{ 
        padding: 3.2rem 2.4rem;
        > .foot-inner {
            flex-direction: column;
            > .bottom-logo {
                width: 10rem;
                height: 2.2rem;
            }
            .addr-wrap {
                flex-direction: column;
                margin-left: 0;
                margin-top: 1.6rem;
                font-size: 1.2rem;
                text-align: left;
                line-height: 150%;
                span {
                    display: block;
                    margin-right: 1.6rem;
                }
                > ul {
                    > li {
                        > a {
                            font-size: 1.2rem;                    
                        }
                    }
                }
            }
        }
    }

    .v-overlay-container .v-list-item-title {
        font-size: 1.4rem;
    }
    .v-overlay-container .v-menu > .v-overlay__content > .v-list {
        padding-top: .4rem;
        padding-bottom: .4rem;
    }
    .btn-wrap {
        margin-top: 4rem;
        .default {
            width: 100%;
            &.complete {
                width: calc(50% - .4rem);
            }
            + .default {
                margin-left: .8rem;
            }
        }
    }
    /* Margin */
    .mgb40 {
        margin-bottom: 3.2rem !important;
    }
    .mgb48 {
        margin-bottom: 4rem !important;
    }
    .mgb64 {
        margin-bottom: 4.8rem !important;
    }
}

@media (hover: none) {
    .v-field__clearable {
        opacity: 0;
    }
}