@charset "UTF-8";

.radio-tap {
  .v-selection-control__wrapper {
    display: none;
  }
  .v-input__details {
    display: none;
  }
  .v-selection-control-group {
    width: 100%;
    flex-direction: row;
    .v-selection-control {
      width: 50%;
      .v-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4.8rem;
        padding: 0 1.6rem;
        font-size: 2rem;
        font-weight: 500;
        color: #888;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
      }
      &.v-selection-control--dirty {
        &::after{
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: .3rem;
          background-color:#111518;
        }
        .v-label {
          font-weight: 700;
          color: #111518;
        }
      }      
    }
  }
}

/* 라디오 버튼 */
.v-input__control {width: 100%;}
.v-btn-radio {display: flex;}
.v-btn-radio .v-radio {width:calc(25% - .6rem);}
.v-btn-radio .v-radio + .v-radio {margin-left: .8rem;}
.v-btn-radio .v-selection-control__wrapper {display: none;}
.v-btn-radio .v-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  padding: 0 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #888;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .2rem;
}
.v-btn-radio .v-selection-control--dirty .v-label {
  font-weight: 500;
  color: #356cff;
  border: .2rem solid #356cff;
}
.v-btn-radio .v-btn--active.v-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: .2rem solid #356cff;
  border-radius: inherit;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

/* 유형형태 */
.mb-type-radio {
  padding: 2.4rem 3.2rem 2.4rem 8.8rem;
  flex-direction: column-reverse;
  align-items: flex-start;
  border-radius: 1.6rem;
  border: .1rem solid #e5e5e5;
  + .mb-type-radio {
    margin-top: 1.6rem;
  }
  &.v-selection-control--dirty {
    border: .2rem solid #356cff;
  }
  .v-label {
    padding-bottom: 1.6rem;
    font-size: 2.2rem;
    font-weight: 500;
    color: #111518;
  }
  .mb-type-stit {
    padding-top: 1.6rem;
    font-size: 1.6rem;
    color: #111518;
    border-top: .1rem solid #f0f0f0;
    word-break: keep-all;
  }
  .v-selection-control__wrapper {
    position: relative;
    all: unset;
    width: 100%;
    .v-icon {
      position: absolute;
      top: 50%;
      left: 3.2rem;
      width: 2.4rem;
      height: 2.4rem;
      transform: translateY(-50%);
    }
    .v-selection-control__input {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      border-radius: 0;
      .v-icon--size-default {
        font-size: 2.4rem;
      }
      .mdi-radiobox-marked {
        padding: 0;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 2.4rem;
          height: 2.4rem;
          background-image: url('../images/icon/icon_radio_active.png');
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
        }
      }
      .mdi-radiobox-blank {
        &::before {
          all: unset;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 2.4rem;
          height: 2.4rem;
          background-image: url('../images/icon/icon_radio_default.png');
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
        }
      }
      &::before {
        content: '';
        border-radius: 0 !important;
        background-color: transparent !important;
      }
      input {
        opacity: 0;
      }
    }
  }  
}

/* 디폴트 라이오버튼 */
.default-type-radio {
  .v-label {
    overflow: hidden;
    position: absolute;
    width: 2px;
    height: 2px;
    margin: -2px;
    padding: 0;
    border: 0 none;
    clip: rect(0, 0, 0, 0);
  }
  .v-selection-control__wrapper {
    position: relative;
    all: unset;
    .v-icon {
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
    }
    .v-selection-control__input {
      border-radius: 0;
      .v-icon--size-default {
        font-size: 2rem;
      }
      .mdi-radiobox-marked {
        padding: 0;
        &::before {
          content: '';
          position: absolute;
          top:0;
          left:0;
          width: 2.4rem;
          height: 2.4rem;
          background-image: url('../images/icon/icon_radio_active.png');
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
        }
      }
      .mdi-radiobox-blank {
        &::before {
          all: unset;
          content: '';
          position: absolute;
          top:0;
          left:0;
          width: 2.4rem;
          height: 2.4rem;
          background-image: url('../images/icon/icon_radio_default.png');
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
        }
      }
      &::before {
        content: '';
        border-radius: 0 !important;
        background-color: transparent !important;
      }
      input {
        opacity: 0;
      }
    }
  }  
}

@media only screen and (max-width: 960px) {
  .radio-tap { 
    .v-selection-control-group {
      .v-selection-control {
        .v-label {
          height: 4.8rem;
          padding: 0;
          font-size: 1.6rem;
          color: #888;
        }
      }
    }
  }
  .v-input--density-default .v-field__input {
    min-height: 4.2rem;
  }
  .v-label {
    font-size: 1.4rem;
  }
  .v-input--density-default:not(.v-autocomplete--multiple),
  .v-field--variant-solo,
  .v-field--variant-filled {
    --v-input-control-height: 3.9rem;
    --v-input-padding-top: .1rem;
    input.v-field__input {
      padding-bottom: .1rem;
    }
    .v-field__input {
      padding-bottom: .1rem;
    }
    textarea {
      padding-top: .1rem;
    }
  }
  .v-btn-radio .v-label {
    font-size: 1.4rem;
    height: 4rem;
    padding: 0;
  }
  .v-btn-radio .v-radio {
    width: calc(25% - .3rem);
  }
  .v-btn-radio {
    .v-radio + .v-radio {
      margin-left: .4rem;
    }
  }
  .mb-type-radio {
    padding: 1.6rem 1.6rem 1.6rem 5.6rem;
    .v-label {
      padding-bottom: 1.2rem;
      font-size: 1.6rem;
    }
    .mb-type-stit {
      padding-top: 1.2rem;
      font-size: 1.4rem;
    }
    .v-selection-control__wrapper {
      .v-icon {
        left: 1.6rem;
      }
    }
  }
  /* 디폴트 라이오버튼 */
  .default-type-radio {
    .v-label {
      overflow: hidden;
      position: absolute;
      width: 0.2rem;
      height: 0.2rem;
      margin: -0.2rem;
      padding: 0;
      border: 0 none;
      clip: rect(0, 0, 0, 0);
    }
    .v-selection-control__wrapper {
      position: relative;
      all: unset;
      .v-icon {
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
      }
      .v-selection-control__input {
        border-radius: 0;
        .v-icon--size-default {
          font-size: 2.4rem;
        }
        input {
          opacity: 0;
        }
      }
    }
  }
}