@charset "UTF-8";

.login {
  position: relative;
  max-width: 58.8rem;
  margin: 0 auto;
  padding: 0;
  .login-header {
    position: relative;
    width: 100%;
    margin-bottom: 4rem;
    .h-title {
      font-family: 'OneShinhan';
      font-size: 4rem;
      font-weight: 700;
      color: #111518;
      text-align: center;
    }
  }
  .form-group {
    margin-bottom: 2.4rem;
    .v-label {
      margin-bottom: .8rem;
      font-size: 1.8rem;
    }
    .v-text-field input {
      font-size: 1.8rem;
    }
    .v-field__input {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
    .v-field__input::placeholder {
      font-size: 1.8rem;
    }
    .v-input--density-comfortable {
      --v-input-control-height: 6.4rem;
      --v-input-padding-top: 1.2rem;
    }
    .v-locale--is-ltr .v-field--variant-outlined .v-field__outline__start {
      border-radius: 1.2rem 0 0 1.2rem;
    }
    .v-locale--is-ltr .v-field--variant-outlined .v-field__outline__end {
      border-radius: 0 1.2rem 1.2rem 0;
    }
    .v-input__details {
      padding-top: .8rem;
    }
    .v-field__clearable {
      right: 2.4rem;
      margin-inline: 0;
    }
    .v-messages {
      font-size: 1.4rem;
    }
    .ele_tit {
      overflow: hidden;
      display: inline-flex;
      align-items: center;
      min-width: 0;
      margin-bottom: .8rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      label {
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
    .input_wrap {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      .input {
        width: 100%;
        height: 6.4rem;
        padding: 1.2rem 2.4rem;
        font-weight: 400;
        font-size: 1.8rem;
        color: #111518;
        line-height: 6.2rem;
        border: .1rem solid #ddd;
        background-color: #fff;
        border-radius: 1.2rem;
        box-sizing: border-box;
        &::placeholder {
          color: #aaa;
        }
        &:focus {
          border: .1rem solid #356cff;
          outline: none;
        }
        &.error {
          border: .1rem solid #ff3636;
        }
      }
    }
    .text-tip {
      position: relative;
      margin-top: .8rem;
      font-size: 1.4rem;
      &.error {
        color: #ff3636;
      }
    }
  }
  .form-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    .check-all {
      display: block;
      position: relative;
      &.v-input--density-default:not(.v-autocomplete--multiple) {
        --v-input-control-height: 2.4rem;
      }
      .v-selection-control {
        width: 100%;
      }
      .v-selection-control__input {
        width: 2.4rem;
        height: 2.4rem;
        &::before {
          background-color: transparent;
        }
        > .v-icon {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }
      .v-selection-control__wrapper {
        width: 2.4rem;
        height: 2.4rem;
      }
      .mdi-checkbox-blank-outline::before {
        content: '';
        width: 2.4rem;
        height: 2.4rem;
        background-image: url('../images/icon/icon_checkbox_off.svg');
        background-size: 100%;
      }
      .mdi-checkbox-marked::before {
        content: '';
        width: 2.4rem;
        height: 2.4rem;
        background-image: url('../images/icon/icon_checkbox_on.svg');
        background-size: 100%;
      }
      + .check-all {
        margin-left: 2.4rem;
      }
    }
    .v-checkbox .v-label {
      margin: 0 0 0 .8rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
  .v-btn--size-large {
    --v-btn-height: 6.4rem;
    font-size: 2rem;
    font-weight: 700;
  }
  .link-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2rem;
    margin-top: 3rem;
    .txt-link {
      padding: 0 2.4rem;
      font-size: 1.6rem;
      line-height: 100%;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        width: .1rem;
        height: 2rem;
        margin-left: -2.4rem;
        background-color: #e5e5e5;
      }
      &:first-child::before {
        content: none;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .login {
    width: 100%;
    padding: 0 2.4rem;
    .login-header {
      margin-bottom: 2.4rem;
      .h-title {
        font-size: 2rem;
      }
    }
    .form-group {
      margin-bottom: 1.6rem;
      .v-label {
        font-size: 1.6rem;
      }
      .v-text-field input {
        font-size: 1.6rem;
      }
      .v-field__input::placeholder {
        font-size: 1.6rem;
      }
      .v-input--density-comfortable {
        --v-input-control-height: 5.6rem;
      }
      .v-locale--is-ltr .v-field--variant-outlined .v-field__outline__start {
        border-radius: 1rem 0 0 1rem;
      }
      .v-locale--is-ltr .v-field--variant-outlined .v-field__outline__end {
        border-radius: 0 1rem 1rem 0;
      }
      .v-messages {
        font-size: 1.2rem;
      }
      .ele_tit {
        label {
          font-size: 1.6rem;
        }
      }
      .input_wrap {
        .input {
          height: 5.6rem;
          font-size: 1.6rem;
          line-height: 5.4rem;
          border-radius: 1rem;
        }
      }
      .text-tip {
        font-size: 1.2rem;
      }
    }
    .form-checkbox {
      .check-all {
        .v-selection-control__input,
        .v-selection-control__wrapper {
          width: 2.4rem;
          height: 2.4rem;
        }
        + .check-all {
          margin-left: 1.6rem;
        }
      }
      .v-checkbox .v-label {
        margin-top: -.1rem;
        margin-left: .4rem;
        font-size: 1.4rem;
      }
    }
    .v-btn--size-large {
      --v-btn-height: 5.6rem;
      font-size: 1.8rem;
    }
    .link-wrap {
      margin-top: 2.4rem;
      .txt-link {
        padding: 0 1.6rem;
        font-size: 1.4rem;
        &::before {
          top: .3rem;
          height: 1.4rem;
          margin-left: -1.6rem;
        }
      }
    }
  }
}