@charset "UTF-8";

.v-table {
    border-top: 1px solid #111518;
}

.v-table > .v-table__wrapper > table > tbody > tr > td,
.v-table > .v-table__wrapper > table > tbody > tr > th,
.v-table > .v-table__wrapper > table > thead > tr > td,
.v-table > .v-table__wrapper > table > thead > tr > th,
.v-table > .v-table__wrapper > table > tfoot > tr > td,
.v-table > .v-table__wrapper > table > tfoot > tr > th {
    height: 4.8rem;
    padding: 1.2rem 1.6rem;
    border-bottom: 1px solid #ddd !important;
    text-align: center;
    font-weight: 400;
    line-height: 150%;
    user-select: none;
}

.v-table > .v-table__wrapper > table > tbody > tr > td:not(:last-of-type),
.v-table > .v-table__wrapper > table > tbody > tr > th,
.v-table > .v-table__wrapper > table > thead > tr > td,
.v-table > .v-table__wrapper > table > thead > tr > th:not(:last-of-type),
.v-table > .v-table__wrapper > table > tfoot > tr > td,
.v-table > .v-table__wrapper > table > tfoot > tr > th {
    border-right: 1px solid #ddd;
}

.v-table > .v-table__wrapper > table > tbody > tr > td {
    color: #333;
}

.v-table > .v-table__wrapper > table > thead > tr > th,
.v-table > .v-table__wrapper > table > tbody > tr > th {
    background-color: #f8f8f8;
}

// table border
.v-table > .v-table__wrapper > table .border-left {
    border-left: 1px solid #ddd;
}

@media only screen and (max-width: 960px) {
    .v-table > .v-table__wrapper > table > tbody > tr > td,
    .v-table > .v-table__wrapper > table > tbody > tr > th,
    .v-table > .v-table__wrapper > table > thead > tr > td,
    .v-table > .v-table__wrapper > table > thead > tr > th,
    .v-table > .v-table__wrapper > table > tfoot > tr > td,
    .v-table > .v-table__wrapper > table > tfoot > tr > th {
        padding: 1rem 0.8rem;
        font-size: 1.4rem;
    }
}
