// subTitle
.sub-title {
    font-family: "OneShinhan";
    font-size: 4rem;
    font-weight: 700;
    color: #111518;
}

// heading
.text-h1 {

}
.text-h2 {
    
}
.text-h3 {

}
.text-h4 {
    color: #111518;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 150%;
}
.text-h5 {
    color: #111518;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 150%;
}

// subtitle - fw500
.subtitle-24 {
    color: #111518;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 150%;
}
.subtitle-22 {
    color: #111518;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 150%;
}
.subtitle-20 {
    color: #111518;
    font-size: 2rem;
    font-weight: 500;
    line-height: 150%;
}
.subtitle-18 {
    color: #111518;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
}
.subtitle-16 {
    color: #111518;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}
.subtitle-14 {
    color: #111518;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%; 
}


// text - fw400
.text-24 {
    color: #111518;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 150%;
}
.text-22 {
    color: #111518;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 150%;
}
.text-20 {
    color: #111518;
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
}
.text-18 {
    color: #111518;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
}
.text-16 {
    color: #111518;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
}
.text-14 {
    color: #111518;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
}
.text-12 {
    color: #111518;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
}


@media only screen and (max-width: 960px) {
    .sub-title {
        font-size: 2rem;
    }

    // sub-title

    // text
    .text-18 {
        font-size: 1.6rem;
    }
    .text-16 {
        font-size: 1.4rem;
    }
    .text-14 {
        font-size: 1.2rem;
    }
    .text-12 {
        font-size: 1rem;
    }
}