@import './variables';
@import 'vuetify/styles/main.sass';
@import './components/VButtons';
@import './components/VField';
@import './components/VInput';
@import './components/VTextField';

// @import './override';
// @import './layout/container';
// @import './layout/sidebar';
// @import './layout/footer';
// @import './layout/topbar';
// @import './layout/horizontal';
// @import './components/VAlert';
// @import './components/VAvatar';
// @import './components/VList';
// @import './components/VCard';
// @import './components/VChip';
// @import './components/VBadge';
// @import './components/VBreadcrumb';
// @import './components/VPagination';
// @import './components/VNavigationDrawer';
// @import './components/VShadow';
// @import './components/VTextarea';
// @import './components/VTabs';
// @import './components/VTimeline';
// @import './pages/datatable';
// @import './pages/dashboards';
// @import './pages/editor';
// @import './pages/authentication';
// @import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';
// .DarkDefaultTheme,
// .DarkTheme1,
// .DarkTheme2,
// .DarkTheme3,
// .DarkTheme4,
// .DarkTheme5,
// .DarkTheme6,
// .DarkTheme7,
// .DarkTheme8,
// .v-theme--DarkDefaultTheme,
// .v-theme--DarkTheme1,
// .v-theme--DarkTheme2,
// .v-theme--DarkTheme3,
// .v-theme--DarkTheme4,
// .v-theme--DarkTheme5,
// .v-theme--DarkTheme6,
// .v-theme--DarkTheme7,
// .v-theme--DarkTheme8 {
//   @import './layout/dark';
// }
